@import "tailwindcss";
@import url("assets/css/font.css");

@font-face {
    font-family: "Inria Sans";
    src: url("assets/fonts/InriaSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Inria Sans Bold";
    src: url("assets/fonts/InriaSans-Bold.ttf") format("truetype");
}

:root {

  --primary-color-1: #618264;
  --secondary-color-1: #79AC78;
  --accent-color-1: #B0D9B1;
  --neutral-color-1: #D0E7D2;

  --primary-color-2: #EDE8DC;
  --secondary-color-2: #A5B68D;
  --accent-color-2: #D0E7D2;
  --neutral-color-2: #C1CFA1;

  --primary-color-3: #ED900E;
  --secondary-color-3: #305241;
  --accent-color-3: #5F9F9F;
  
  --primary-color-4: #ffffff;
  --secondary-color-4: #D0E5DB;
  --accent-color-4: #f1f7f4;
  --neutral-color-4: #A6D8D8; 
  font-family: 'Inria Sans', Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Inria Sans",Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.color-primary-1 {
  color: var(--primary-color-1);
}

.bg-primary-1 {
  background-color: var(--primary-color-1);
}

.color-secondary-1 {
  color: var(--secondary-color-1);
} 

.bg-secondary-1 {
  background-color: var(--secondary-color-1);
}

.color-accent-1 {
  color: var(--accent-color-1);
} 


.bg-accent-1 {
  background-color: var(--accent-color-1);
} 

.bg-accent-2 {
  background-color: var(--accent-color-2);
} 

.color-neutral-1 {
  color: var(--neutral-color-1);
} 

.bg-neutral-1 {
  background-color: var(--neutral-color-1);
} 

.bg-neutral-2 {
  background-color: var(--neutral-color-2);
} 

.color-primary-2 {
  color: var(--primary-color-2);
}

.bg-primary-2 {
  background-color: var(--primary-color-2);
}

.font-bold {
  font-family: "Inria Sans Bold",Arial, Helvetica, sans-serif;
}

.hover-bg-color-primary-1:hover {
  background-color: var(--primary-color-1)
}

.hover-color-primary-1:hover {
  color: var(--primary-color-1)
}

.color-primary-3 {
  color: var(--primary-color-3);
}

.bg-primary-3 {
  background-color: var(--primary-color-3);
}

.border-primary-color-3 {
  border: 1px solid var(--primary-color-3);
}

.hover\:bg-primary-3:hover {
  background-color: var(--primary-color-3);
}

.color-secondary-3 {
  color: var(--secondary-color-3);
}

.bg-secondary-3 {
  background-color: var(--secondary-color-3);
}

.hover\:bg-secondary-3:hover {
  background-color: var(--secondary-color-3);
}

.border-secondary-color-3 {
  border: 1px solid var(--secondary-color-3);
}

.color-accent-3 {
  color: var(--accent-color-3);
}

.border-primary-color-4 {
  border: 1px solid var(--primary-color-4);
}

.color-secondary-4 {
  color: var(--secondary-color-4);
}

.bg-secondary-4 {
  background-color: var(--secondary-color-4);
}

.color-accent-4 {
  color: var(--accent-color-4);
}

.bg-accent-4 {
  background-color: var(--accent-color-4);
}

.color-neutral-4 {
  color: var(--neutral-color-4);
}

.bg-neutral-4 {
  background-color: var(--neutral-color-4);
  opacity: 0.3;
}