@import "tailwindcss";
@import url("assets/css/font.css");

@font-face {
    font-family: "Inria Sans";
    src: url("assets/fonts/InriaSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Inria Sans Bold";
    src: url("assets/fonts/InriaSans-Bold.ttf") format("truetype");
}

:root {

  --primary-color-1: #618264;
  --secondary-color-1: #79AC78;
  --accent-color-1: #B0D9B1;
  --neutral-color-1: #D0E7D2;

  --primary-color-2: #EDE8DC;
  --secondary-color-2: #A5B68D;
  --accent-color-2: #D0E7D2;
  --neutral-color-2: #C1CFA1;


  font-family: 'Inria Sans', Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Inria Sans",Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.color-primary-1 {
  color: var(--primary-color-1);
}

.color-secondary-1 {
  color: var(--secondary-color-1);
} 

.bg-secondary-1 {
  background-color: var(--secondary-color-1);
}

.color-accent-1 {
  color: var(--accent-color-1);
} 


.bg-accent-1 {
  background-color: var(--accent-color-1);
} 

.color-neutral-1 {
  color: var(--neutral-color-1);
} 

.color-primary-2 {
  color: var(--primary-color-2);
}

.font-bold {
  font-family: "Inria Sans Bold",Arial, Helvetica, sans-serif;
}

.hover-bg-color-primary-1:hover {
  background-color: var(--primary-color-1)
}

.hover-color-primary-1:hover {
  color: var(--primary-color-1)
}